[Unit]
Description= moon board app service
After=multi-user.target com.moonboard

[Service]
User=root
Type=idle
ExecStart=/usr/bin/python3 /home/pi/moonboard/led/moonboard_led_service.py

[Install]
WantedBy=multi-user.target
